.footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 40px 0;
    color: #FFF;
    margin-top: 100px;
    @include responsive(md) {
        padding: 115px 0;
    }

    &-links {
        margin-top: 40px;
        @include responsive(md) {
            margin-top: 0;
        }
    }

    p {
        margin-top: 20px;
        line-height: 1.8;
    }

    strong {
        font-size: 20px;
        font-weight: 700;
    }

    ul {
        margin-top: 20px;
    }

    a {
        display: inline-block;
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        padding: 7px 0;
    }
}